In [1]:
import pandas as pd
df = pd.read_csv('all_items.csv')
df

         Item  Price           Type
0        wood    3.0  miscellaneous
1        iron    5.0  miscellaneous
2      copper    7.0  miscellaneous
3     leather    4.0  miscellaneous
4        silk   20.0  miscellaneous
..        ...    ...            ...
70    citrine  520.0            gem
71      pearl  750.0            gem
72  turquoise  530.0            gem
73       onyx  540.0            gem
74  moonstone  580.0            gem

[75 rows x 3 columns]