In [1]:
import pandas as pd

miscellaneous_df = pd.read_csv('miscellaneous.csv')
weapons_df = pd.read_csv('weapons.csv')
groceries_df = pd.read_csv('groceries.csv')
spices_df = pd.read_csv('spices.csv')
gems_df = pd.read_csv('gems.csv')

In [18]:
miscellaneous_df['Type'] = 'miscellaneous'
weapons_df['Type'] = 'weapon'
groceries_df['Type'] = 'grocery'
spices_df['Type'] = 'spice'
gems_df['Type'] = 'gem'

In [19]:
miscellaneous_df = miscellaneous_df.rename(columns={'Miscellaneous': 'Item'})
weapons_df = weapons_df.rename(columns={'Weapons': 'Item'})
groceries_df = groceries_df.rename(columns={'Grocery': 'Item'})
spices_df = spices_df.rename(columns={'Spice': 'Item'})
gems_df = gems_df.rename(columns={'Gems': 'Item'})

In [20]:
miscellaneous_df.head(1)

   Item  Price           Type
0  wood    3.0  miscellaneous

In [31]:
weapons_df = weapons_df.rename(columns={'Prices': 'Price'})
weapons_df.head(1)

    Item  Price    Type
0  Sword  120.0  weapon

In [22]:
groceries_df.head(1)

    Item  Price     Type
0  bread    2.5  grocery

In [23]:
spices_df.head(1)

           Item  Price   Type
0  black pepper    5.0  spice

In [30]:
gems_df = gems_df.rename(columns={'Prices': 'Price'})
gems_df.head(1)

   Item  Price Type
0  ruby  750.0  gem

In [32]:
all_items_df = pd.concat([miscellaneous_df, weapons_df, groceries_df, spices_df, gems_df], ignore_index=True)
all_items_df

         Item  Price           Type
0        wood    3.0  miscellaneous
1        iron    5.0  miscellaneous
2      copper    7.0  miscellaneous
3     leather    4.0  miscellaneous
4        silk   20.0  miscellaneous
..        ...    ...            ...
70    citrine  520.0            gem
71      pearl  750.0            gem
72  turquoise  530.0            gem
73       onyx  540.0            gem
74  moonstone  580.0            gem

[75 rows x 3 columns]

In [33]:
all_items_df.to_csv('all_items.csv', index=False)